<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosta.finalproject.model.mapper.UserMapper">
<select id="getCountUser" resultType="int" >
	select count(*) from USER
</select>

<select id="getCountAutho" resultType="int" >
	select count(*) from AUTHORITIES
</select>

<insert id="registerUser" parameterType="org.kosta.finalproject.model.domain.UserVO"> <!-- 이 경로 자동 설정하는 부분은 어디임?? -->
insert into USER (USER_ID,USER_PASSWORD,USER_TEL,USER_ADDRESS,USER_EMAIL,USER_IMAGE)
VALUES (#{userId},#{userPassword},#{userTel},#{userAddress},#{userEmail},#{userImage})
</insert>

<select id="registerIdCheck" parameterType="String" resultType="int">
select count(*) from USER where user_id=#{userId};
</select>

<select id="findUserById" parameterType="String" resultType="org.kosta.finalproject.model.domain.UserVO">
select * from USER
where user_id=#{userId};
</select>

<select id="registerRole" parameterType="Authority">
insert into AUTHORITIES (USERNAME,AUTHORITY)
VALUES (#{username},#{authority})
</select>

<select id="findAuthorityByUsername" parameterType="String" resultType="authority">
select USERNAME,AUTHORITY
from AUTHORITIES
where username=#{username}
</select>

<update id="updateUserPET" parameterType="UserVO">
update USER
set USER_TEL=#{userTel},USER_EMAIL=#{userEmail}
WHERE USER_ID=#{userId}
</update>


<update id="updateUserImage" parameterType="UserVO">
UPDATE USER
SET USER_IMAGE=#{userImage}
WHERE USER_ID=#{userId}
</update>

<update id="updateUserPassword" parameterType="UserVO">
update USER
set USER_PASSWORD=#{userPassword} 
WHERE USER_ID=#{userId}
</update>

<update id="profileAddressUpdate" parameterType="UserVO">
update USER
set USER_ADDRESS=#{userAddress} 
WHERE USER_ID=#{userId}
</update>

<select id="findIdByTel" parameterType="String" resultType="String">
select USER_ID
from USER
WHERE USER_TEL=#{userTel}
</select>

<select id="registerTelCheck" parameterType="String" resultType="int">
select count(*) from USER where USER_TEL=#{userTel};
</select>

<resultMap id="selectItemResultMap" type="ItemVO">
      <id column="ITEM_ID"                property="itemId" />
      <result column="ITEM_TITLE"       property="itemTitle" />
      <result column="ITEM_PRICE"          property="itemPrice" />
      <result column="ITEM_HIT"          property="itemHit" />
      <result column="ITEM_CONTENT"       property="itemContent" />
      <result column="ITEM_STATUS"       property="itemStatus" />
      <result column="ITEM_CREATED_AT"         property="itemCreatedAt" />
      <collection property="userVO" ofType="UserVO">
         <id property="userId" column="USER_ID" />
         <result property="userAddress" column="USER_ADDRESS" />
         <result property="userTel" column="USER_TEL" />
         <result property="userImage" column="USER_IMAGE" />
      </collection>
         <collection property="categoryVO" ofType="CategoryVO">
         <id property="categoryId" column="CATEGORY_ID" />
         <result property="categoryName" column="CATEGORY_NAME" />
      </collection>
   </resultMap>
   
    <!-- 검색한 Category + ItemTitle + Location 목록 가지고오기-->
       <select id="selectAllItemListByCondition"  parameterType="org.kosta.finalproject.model.domain.ItemVO"  resultMap="selectItemResultMap" >
      SELECT I.ITEM_ID, I.ITEM_TITLE, I.ITEM_PRICE, I.ITEM_CONTENT, I.ITEM_CREATED_AT, U.USER_ADDRESS, I.CATEGORY_ID,
      I.ITEM_HIT, I.ITEM_STATUS, I.USER_ID , U.USER_TEL, C.CATEGORY_NAME
      FROM
      ITEM I, USER U, CATEGORY C
      WHERE
      I.USER_ID = U.USER_ID 
      AND
      I.CATEGORY_ID = C.CATEGORY_ID
       AND
      I.ITEM_TITLE LIKE CONCAT('%', #{itemTitle},'%')
      AND
       C.CATEGORY_ID = #{categoryVO.categoryId}
        AND
       U.USER_ID = #{userVO.userAddress}
      ORDER BY I.ITEM_CREATED_AT DESC
   </select> 
</mapper>





